<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs</title>
</head>
<body>
    <form method="post" action="">
        <label for="name">Name</label>
        <input type="text" name="name" />

        <label for="breed">Breed</label>
        <input type="text" name="breed" />

        <label for="owner">Owner</label>
        <input type="text" name="owner" />

        <button id="submitDog" type="submit">Submit Dog</button>

    </form>

    <h2>All The Dogs</h2>
    <ul>
        {% for dog in dogs %}
            <p>ID: {{dog.0}}</p>
            <p>Name: {{dog.1}}</p>
            <p>Breed: {{dog.2}}</p>
        {% endfor %}
    </ul>
</body>

<script>
    document.getElementById('submitDog').addEventListener("click", function(e) {
        e.preventDefault();
        
    })
</script>

</html>